<div class="main-area">
  <h1>Behandlingar</h1>
  <p class="lead">Hos oss på Bromma Träningscenter kan du få hjälp genom flera olika behandlingar.
    Vi har välutbildad personal på plats flera dagar i veckan. Välkommen att boka en behandling direkt via din massör
    eller kiropraktor.</p>

  <h3 class="block-header">Kiropraktik</h3>

  <p>Vi jobbar med två legitimerade kiropraktorer som båda har lång erfarenhet. Våra kiropraktorer behandlar både
    idrottsrelaterade skador samt rygg-, nacke-, axel-problematik m.m.</p>

  <p>För bokning, kontakta Alexander eller Karolina.</p>

  <h4 class="block-header"><img src="dist/img/kiropraktor.jpg" Alt="Alexander och Karolina" align="right">Alexander Dixner</h4>
  <p>Boka hos Alexander: 070-471 48 09, <a href="mailto:info@dixnerkiropraktik.se">info@dixnerkiropraktik.se</a><br/>
  Mer info hittar du på <a href="http://www.dixnerkiropraktik.se" target="_blank">www.dixnerkiropraktik.se</a>
  </p>

  <h4 class="block-header">Karolina Fehn</h4>
  <p>Boka hos Karolina: 070-768 63 62<br/>
  Mer info hittar du på <a href="http://www.kiropraktorklinik.nu" target="_blank">www.kiropraktorklinik.nu</a>
  </p>

  <br/><img src="dist/img/juliag.jpg" Alt="Julia" align="right"><h3 class="block-header">Massage</h3>
  <p>Vi jobbar med en diplomerad massageterapeut.</p>

  <p>För bokning, kontakta Julia.</p>

  <h4 class="block-header">Julia Gramstrup Christensen</h4>
  <p>Boka hos Julia: 070-759 71 84, <a href="mailto:julia@fromhead2toe.se">julia@fromhead2toe.se</a></p>

  <!-- <br/><h3 class="block-header">Massage</h3>
  <p>Vi jobbar med en diplomerad massageterapeut med många års erfarenhet.</p>

  <p>För bokning, kontakta Åsa.</p>

  <h4 class="block-header">Åsa Helén</h4>
  <p>Boka hos Åsa: 0707-55 77 76, <a href="mailto:asa.helen@gmail.com">asa.helen@gmail.com</a></p> -->

</div>
