<div class="main-area">
  <h1>Boka pass</h1>
  <p class="lead">
    Bokning av våra gruppträningspass kan ske via internet, per telefon eller direkt i vår reception på Bromma Träningscenter.
  </p> 
  <p>
    Du kan boka upp till 7 dagar före passet. Om du inte kan komma så boka av din plats så fort som möjligt. På internet kan du boka eller boka av fram till 1 timme innan passet börjar, därefter behöver du ringa. 5 min innan passet börjar släpps platser som ej hämtats ut till väntande reserver.
  </p>

  <h3>Bokning via internet</h3>
  <p>För att kunna boka behöver du ha ett giltigt träningskort samt angivit din e-postadress hos oss.</p>
  <ul>
    <li>
      <a href="http://kund.pastell16.pastelldata.se/UnitRedirect.aspx?UNIT=1500" target="_blank" title="boka online">Klicka här för att boka</a>
    </li>
    <li>
      Logga in med din e-postadress och ditt kortnummer som står på träningskortet (OBS! Inloggning sker med 5 siffror. Lägg till 0:or före kortnumret om ditt nummer har färre än 5 siffror)
    </li>
    <li>
      Du har sedan tre alternativ att välja mellan (pass, bokningar, mina sidor)
    </li>
    <li>
      Klicka på "pass"
    </li>
    <li>
      Välj vilket pass du vill gå på och klicka på "boka" till höger
    </li>
  </ul>
  <h4 class="block-header">Fliken bokningar</h4>
  <p>
  Här kan du se vad du är bokad på. Du ser om du har ordinarie plats eller om du är reserv. Om du är reserv så ser du vilken köplats du har som reserv. Tänk på att många bokar av under dagen och chansen är stor att du kommer med även om du hamnat en bit ner i reservlistan.
</p>
<p>
  Under "bokningar" kan du även boka av ditt pass fram till 1 timme innan passet startar.
</p>

  <h4 class="block-header">Fliken Mina sidor</h4>
  <p>
  Här ser du kontaktuppgifterna vi har registrerat på dig. Du kan själv ändra om något inte stämmer. Du kan även se hur länge ditt träningskort gäller eller hur många klipp du har kvar under fliken "träningskort". Under "träningshistorik" kan du följa din träning.
</p>
</div>
