<div class="main-area">
  <h1>BOSU/Core</h1>
  <p class="lead">
  BOSU – det kompletta träningsredskapet!
  </p>
  <p>
    <img class="loggo" src="dist/img/bosu.jpg" Alt="BOSU">
  </p>
  <p>
  Med hjälp av BOSU-redskapet tränar vi bål, styrka, balans och kondition på ett roligt och effektivt sätt.
  Efter ett träningspass med BOSU så har man verkligen tränat hela kroppen. Redskapet är lätt att anpassa
  efter vilken nivå du vill träna på. Både den som vill komma igång och den som vill jobba med högre intensitet
  kan vara med på samma pass. Instruktören ger olika alternativ på övningar så att du själv kan känna att du får
  ut det du vill av träningen.
  </p>
  <p>
  BOSU-redskapet gör att du behöver arbeta med din bålmuskulatur genom hela passet. Du kommer snabbt att hitta
  känslan i bra hållning och kommer därmed bli mer medveten om hur du använder din kroppsposition i andra aktiviteter.
  </p>
  <p>
  Under träningspasset står, sitter och ligger vi på BOSU-redskapet. Vi arbetar både med den runda och platta
  sidan upp, beroende på övning. Det ingår även viss konditionsträning där vi i olika former går eller joggar upp
  och ner på BOSU-redskapet.
  </p>
</div>
