<div class="main-area">
  <h1>Företag</h1>
  <p class="lead">Tid är pengar. Att ge personalen tid för fysisk aktivitet kan på sikt ge företaget en stor
    vinst då personalen får bättre förutsättningar att må bra både mentalt och fysiskt. Detta ger minskad
    sjukfrånvaro, förslitningsskador minskar och förutsättningarna för att minska på stressrelaterade sjukdomar
    blir bättre. Vi har kvalificerad personal som arbetar med friskvård och hälsa på företag.</p>


  <h4 class="block-header">Hälsoprofilsbedömningar</h4>
  <p>Hälsoprofilen kan användas som en del i företagets friskvårdsverksamhet. Hälsoprofilen innefattar en konditionstest samt ett samtal kring motion, stress, upplevd hälsa etc. Här kan man arbeta långsiktigt med personalens hälsa på individnivå.</p>

  <h4 class="block-header">Livsenergikurs</h4>
  <p>Denna kurs riktar sig till långtidssjukskrivna eller personer som behöver långsiktig hjälp att både finna balans i tillvaron men även komma igång med fysisk aktivitet. Vi träffas 1 gång i veckan under 10 veckor. Kursen innefattar föreläsningar samt lätt fysisk aktivitet.</p>

  <h4 class="block-header">Kom i gång-kurs</h4>
  <p>Riktat till individer som behöver komma i gång med fysisk aktivitet. Vi träffas 1 gång i veckan under 5 veckor. På dessa kurstillfällen arbetar vi mest med lätt fysisk aktivitet.</p>

  <h4 class="block-header">Stresshantering</h4>
  <p>Att förebygga eller synliggöra stressmönster. Få hjälp med avslappning och finna balans i tillvaron. Riktat till företagsgrupper eller enskilda individer.</p>

  <h4 class="block-header">Aktivitetsdagar</h4>
  <p>Vill ni ha ett träningspass under konferensen eller kanske en hel dag fylld med olika typer av aktiviteter? Vi kan erbjuda er aktiviteter som alla kan vara med på.</p>

  <h4 class="block-header">Företagsavtal</h4>
  <p>Är ni flera på företaget som vill träna. Vi har företagsavtal på träningskort.</p>

  <p><b>Ring för offert 08-564 365 80.</b><br/>
  Vi har även kiropraktik, sjukgymnastik och massage på vår anläggning.</p>


  <br/><h1>Idrottsklubbar</h1>
  <p class="lead">Behöver ditt lag bättra på konditionen, styrkan eller bara göra något nytt på träningen?
  Vi kan erbjuda roliga och effektiva träningspass för laget. Ni kan även hyra våra salar för egen aktivitet. <b>Ring för bokning 08-564 365 80.</b></p>

  <h4 class="block-header">Hockey & fotbollslag</h4>
  <p>BOSU-träning för fotbolls- och hockeylag. Ny träningsform med grenspecifik träning. Här kan vi erbjuda mycket tuff och funktionell träning utöver det vanliga med specialutformat program för er lagsport. Styrka, balans, koordination, bålstabilitet etc. <a href="#bosu-core">Läs mer här.</a></p>

  <p><b>Ring för bokning 08-564 365 80.</b></p>

</div>
