<div class="main-area">
  <h1>Idrottsklubbar</h1>
  <p class="lead">Behöver ditt lag bättra på konditionen, styrkan eller bara göra något nytt på träningen?</p>
  <p>Vi kan erbjuda roliga och effektiva träningspass för laget. Ni kan även hyra våra salar för egen aktivitet. <b>Ring för bokning 08-564 365 80
    eller maila <a href="mailto:mirja@brommatraningscenter.se">mirja@brommatraningscenter.se</a>.</b></p>


  <br><h1>Företag</h1>
  <p class="lead">Önskar ditt företag ett avtal på träningskort?</p>

  <p>Kontakta <a href="mailto:mirja@brommatraningscenter.se">mirja@brommatraningscenter.se</a>.</p>

  <p>Vi är anslutna till följande friskvårdsportaler:<br/>
  <ul type="disc">
    <li>Wellnet<br/>
    <li>Benify<br/>
    <li>Söderberg & partner<br/>
    <li>Actiway<br/>
    <li>Friskvårdskuponger<br/>
    <li>Friskvårdscheckar
  </ul>

</div>
