<div class="main-area">
  <h1>Förklaring av passen</h1>
  <p class="lead">Att välja pass kan va som en djungel iblan, här kommer därför en kort förklaring av alla passen</p>

  <h4 class="block-header">Bodytoning</h4>
  <p>Uppvärmning med enkla steg och styrketräning med olika handredskap.</p>

  <h4 class="block-header">BOSU/core</h4>
  <p>Här tränas bålstabilitet, styrka och balans med hjälp av BOSU-redskapet.</p>

  <h4 class="block-header">Box & fys</h4>
  <p>Intensivt pass med slag och sparkar blandat med fysträning.</p>

  <h4 class="block-header">Cirkelträning</h4>
  <p>Här tränas styrka, spänst och kondition i stationsträningsform.</p>

  <h4 class="block-header">Cykel 45 min</h4>
  <p>Konditionsdel ca 35 min. Du väljer själv din intensitet på cykeln.</p>

  <h4 class="block-header">Cykel/core</h4>
  <p>Cykel ca 25-30 min, bålträning ca 20 min, stretch.</p>

  <h4 class="block-header">Lätt BOSU/core</h4>
  <p>Låg intensitet. Bålstabilitet, styrka och balans med hjälp av BOSU-redskapet.</p>

  <h4 class="block-header">Lätt Cirkelträning</h4>
  <p>45 min stationsträning. Innehåller styrka, kondition m.m.</p>

  <h4 class="block-header">Lätt/senior Aerobics</h4>
  <p>Enkla stegkombinationer med låg intensitet, samt styrkeövningar och stretch.</p>

  <h4 class="block-header">Lätt/senior Gympa</h4>
  <p>Motionsgympa. Lätt koordination och låg intensitet.</p>

  <h4 class="block-header">Pilates</h4>
  <p>Bålstabilitet, kroppskontroll och smidighet. Lugnt tempo.</p>

  <h4 class="block-header">Roller/stretch</h4>
  <p>Djupgående massage med foamroller som redskap varvat med stretch.</p>

  <h4 class="block-header">Skivstång</h4>
  <p>Styrketräning för de stora muskelgrupperna, inga stegkombinationer.</p>

  <h4 class="block-header">Yoga</h4>
  <p>Fysisk dynamisk yoga. Smidighet, styrka och andning. Lugnt tempo.</p>
</div>
