<div class="main-area">
  <h1>Instruktion i gymmet</h1>
  <p class="lead">
  Har du aldrig styrketränat i gym förut eller vill du utveckla ditt styrkeprogram med nya övningar?
  </p>
  <p>
    <img class="loggo" src="dist/img/gyminstruktion.jpg" Alt="Instruktion i gym">
  </p>
  <p>
  Boka en instruktion med någon av våra styrkeinstruktörer. Genomgången tar ca 45-60 minuter och du får
  ett träningsprogram upplagt (inställningar, utförande av övningar). Programmet skrivs ut med bilder och
  inställningar så att du lätt kan fortsätta att träna på egen hand.
  </p>
  <p>
  Boka din instruktion direkt i vår reception eller ring 08-564 365 80.
  </p>
</div>
