<div class="top-area">
  <div class="top-area-row">
    <div class="top-area-article">
      <img src="dist/img/spinning.jpg"/>
      <article>
      <h2>Gruppass cykel</h2>
      <p>I februari erbjuder vi flera extrapass</p>
      <p>
        Måndag 2/2 kl 18:00</br>
        Tisdag 3/2 kl 19:00</br>
        Onsdag 4/2 kl 06:00
      </p>
    </article>
    </div>
    <div class="top-area-article">
      <img src="dist/img/Bosu_Clinic_Workout.jpg"/>
      <article>

      <h2>Bosu med Nickan</h2>
      <p>I februari erbjuder vi flera extrapass</p>
      <p>
        Måndag 2/2 kl 18:00</br>
        Tisdag 3/2 kl 19:00</br>
        Onsdag 4/2 kl 06:00
      </p>
    </article>

    </div>
  </div>
</div>
