<div class="top-area">
  <div class="top-area-row">
    <div class="top-area-article">
      <img src="dist/img/skor.jpg"/>
      <article>
      <h2>Kampanjpriser på träningskort</h2>
      <p>Just nu har vi kampanjpriser på våra träningskort.</p>
      <p>Köp något av våra årskort och träna <b>2 månader gratis</b> eller köp ett 10-klippkort och få <b>3 extra klipp på köpet</b>.</p>

      <p><a href="#priser">Läs mer här</a></p>
    </article>
    </div>
    <div class="top-area-article">
      <img src="dist/img/pt.jpg"/>
      <article>

      <h2>Boka din personliga tränare</h2>
      <p>Få fart på träningen och kom igång efter julen med någon vid din sida som stöttar och peppar.
      Vi har duktiga och erfarna personliga tränare som kan hjälpa dig med motivationen.</p>

      <p>Träffa DIN personliga tränare för ett kostnadsfritt första möte. Bokning via receptionen 08-564 365 80.</p>

      <p>Läs mer om våra personliga tränare här</p>
    </article>

    </div>
  </div>
</div>
