<div class="main-area">
  <div class="main-area-article">
    <div class="main-area-article-left">
      <img src="dist/img/senior.jpg"/>
    </div>
    <div class="main-area-article-right">
      <h3>Kom och träna med andra glada seniorer</h3>
      <p>Vi har ett flertal träningspass för seniorer dagtid.</br>
      Välj bland lättgympa, lättaerobics, pilates (bål och rörlighetsträning), lätt BOSU (balans och bålträning).</p>

      <p>Bokning kan ske 1 vecka i förväg på våra gruppträningspass.</p>

      <p>Varmt välkommen!</p>
    </div>
  </div>
  <div class="main-area-article">
    <div class="main-area-article-left">
      <img src="dist/img/senior.jpg"/>
    </div>
    <div class="main-area-article-right">

      <h3>Kom och träna med andra glada seniorer</h3>
      <p>Vi har ett flertal träningspass för seniorer dagtid.</br>
      Välj bland lättgympa, lättaerobics, pilates (bål och rörlighetsträning), lätt BOSU (balans och bålträning).</p>

      <p>Bokning kan ske 1 vecka i förväg på våra gruppträningspass.</p>

      <p>Varmt välkommen!</p>
    </div>
  </div>
  <div class="main-area-article">
    <div class="main-area-article-left">
      <img src="dist/img/senior.jpg"/>
    </div>
    <div class="main-area-article-right">
      <h3>Kom och träna med andra glada seniorer</h3>
      <p>Vi har ett flertal träningspass för seniorer dagtid.</br>
      Välj bland lättgympa, lättaerobics, pilates (bål och rörlighetsträning), lätt BOSU (balans och bålträning).</p>

      <p>Bokning kan ske 1 vecka i förväg på våra gruppträningspass.</p>

      <p>Varmt välkommen!</p>
    </div>
  </div>
</div>
