<div class="main-area">
  <div class="main-area-article">
    <div class="main-area-article-left">
      <img src="dist/img/viktminskning.jpg"/>
    </div>
    <div class="main-area-article-right">
      <h3>Viktminskning 6-veckorskurs</h3>
      <p>Hitta hälsosamma vanor. Vi hjälper dig att minska i vikt och få bra matvanor för vardagen.</p>
      <p>Vårt individuella viktminskningsprogram som pågår i 6 veckor innehåller:
        <ul type="disc">
          <li>2 träningar i veckan med personlig tränare
          <li>Kostuppföljning varje vecka
          <li>Konditionstester och mätningar
          <li>Träningskort m.m.</p>

      <p><a href="#viktminskning">Läs mer och anmäl dig här</a></p>
    </div>
  </div>
  <div class="main-area-article">
    <div class="main-area-article-left">
      <img src="dist/img/senior.jpg"/>
    </div>
    <div class="main-area-article-right">

      <h3>Kom och träna med andra glada seniorer</h3>
      <p>Vi har ett stort utbud av träningspass för seniorer dagtid.
        Välj bland lättgympa, lätt aerobics, lätt cirkelträning, lätt cykling, lätt BOSU
        (balans och bål), pilates eller träna i ditt eget tempo i vårt gym.</p>

      <p><b>Vi har 10-klippkort eller årskort till förmånliga priser för seniorer.</b>
        Bokning kan ske 1 vecka i förväg på våra gruppträningspass.</p>

      <p>Varmt välkommen!</p>
    </div>
  </div>
  <div class="main-area-article">
    <div class="main-area-article-left">
      <img src="dist/img/cykel.jpg"/>
    </div>
    <div class="main-area-article-right">
      <h3>Nya spinningcyklar</h3>
      <p>I månadsskiftet jan/feb byter vi ut våra spinningcyklar.</p>
      <p>Våra nya cyklar har displayer på varje cykel där du ser din puls m.m. Du kan använda
        ditt eget pulsband eller låna hos oss.</p>
      <p>Prova vår nya cykelklass som heter <b>"Cykel puls"</b> där vi arbetar med effektiv pulsträning.</p>
    </div>
  </div>
</div>
