<div class="main-area">
  <h1>Lättare träning</h1>
  <p class="lead">Vi har ett stort utbud för dig som vill komma igång eller bara ta det lite lugnare.</p>

  <h4 class="block-header">Lätt gympa (45 min)</h4>
  <p>
    Motionsgympa där vi arbetar igenom hela kroppen i lugnt tempo. Lätt koordination. Passet innehåller lätt konditionträning, rörlighetsträning och lättare styrkemoment.
  </p>

  <h4 class="block-header">Lätt Bosu/Core (45 min)</h4>
  <p>
    Vi arbetar på "Bosubollen" och tränar balans, styrka och bål. Här kan du arbeta i ditt eget tempo och välja vilken intensitet du vill arbeta på. En annorlunda och kul träning där du tränar hela kroppen.
  </p>

  <h4 class="block-header">Aerobics lätt/senior (45 min)</h4>
  <p>
    Lite dansant träning där vi lägger ihop enkla steg så att din kondition tränas på ett roligt sätt. Passet avslutas med lätta styrkeövningar (hantlar och gummiband) samt stretch.
  </p>

  <h4 class="block-header">Pilates</h4>
  <p>
    Pilatesträning passar både för dig som vill komma igång men även för dig som vill träna din bål riktigt ordentligt. Vi arbetar med bålstabilitet, kroppskontroll och smidighet. övningarna kan göras med olika intensitet så att du själv kan anpassa din träning efter din egen nivå.
  </p>
</div>
