<div class="main-area">
  <h1>Om oss</h1>
  <p class="lead">
  Bromma Träningscenter startade 1999 och ägs av Brommagymnasterna. Vi är ett träningscenter där
  trivsel och träningsglädje står i fokus. Vi har vår bakgrund från idrotten och älskar träning.
  Hos oss trivs du tillsammans med kunnig personal. Välkommen!
  </p>
  <p>
    <img class="loggo" src="dist/img/bosu.jpg" Alt="BOSU">
  </p>


  <h3>Kontakt</h3>
  <p>
  Bromma Träningscenter<br/>
  Besöksadress: Brommaplan 403<br/>
  Postadress: Klädesvägen 13, 168 76 Bromma<br/>
  Reception: 08-564 365 80<br/>
  E-post: <a hrer="mailto:info@brommatraningscenter.se">info@brommatraningscenter.se</a>
  </p>
</div>
