<div class="main-area">
  <h1>Öppettider</h1>
  <p class="lead">Vi håller öppet alla dagar i veckan.</p>
  <p>
    <img class="loggo" src="dist/img/reception.jpg" Alt="Receptionen">
  </p>
  <table class="table">
    <thead>
      <tr>
        <th>
          Dag
        </th>
        <th>
          Tid
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          Måndag
        </td>
        <td>
          08:00-21:30
        </td>
      </tr>
      <tr>
        <td>
          Tisdag
        </td>
        <td>
          06:45-21:30
        </td>
      </tr>
      <tr>
        <td>
          Onsdag
        </td>
        <td>
          08:00-21:30
        </td>
      </tr>
      <tr>
        <td>
          Torsdag
        </td>
        <td>
          06:45-21:30
        </td>
      </tr>
      <tr>
        <td>
          Fredag
        </td>
        <td>
          08:00-19:30
        </td>
      </tr>
      <tr>
        <td>
          Lördag
        </td>
        <td>
          08:30-16:00
        </td>
      </tr>
      <tr>
        <td>
          Söndag
        </td>
        <td>
          09:00-19:00
        </td>
      </tr>
    </tbody>
  </table>
</div>
