<div class="main-area">
  <h1><img src="dist/img/kampanjpris.png" Alt="Kampanjpris" align="right" class="hidden-sm hidden-xs">Priser</h1>
  <p class="lead">Passa på! Just nu har vi kampanj på träningskort! Kampanjen pågår till och med 28/2.</p>

  <h3>Årskort</h3>
  <p><font color="red">Kampanj t.o.m. 28 februari. Träna 2 månader gratis.</font></p>

  <table class="table">
    <thead>
      <tr>
        <th>
          Typ av kort
        </th>
        <th>
          Pris
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          Träning alla tider
        </td>
        <td>
          395 kr/mån (12 mån)
        </td>
      </tr>
      <tr>
        <td>
          Träning ungdomar och studerande
        </td>
        <td>
          295 kr/mån (12 mån)
        </td>
      </tr>
      <tr>
        <td>
          Träning dagtid
        </td>
        <td>
          195 kr/mån (12 mån)
        </td>
      </tr>
      <tr>
        <td>
          Träning senior och FAR
        </td>
        <td>
          195 kr/mån (12 mån)
        </td>
      </tr>
    </tbody>
  </table>
  <p>Träning utan bindningstid mot ett tillägg på 100 kr/mån.</p>
  <p>I alla autogiron med bindningstid 12 mån ingår:<br/>
  <ul type="disc">
  <li>1 st frysmånad varje 12 månadersperiod<br/>
  <li>1 st instruktion i gym
  </ul>

  För autogiro behöver du passera receptionen senast 15:00 måndag-fredag. Lördag och söndag har vi ingen tidsbegränsning.
  </p>


  <br/><h3>Klippkort och enstaka träningspass</h3>
  <p><font color="red">Kampanj t.o.m 28 februari. Få 3 extraklipp på köpet.</font></p>

  <table class="table">
    <thead>
      <tr>
        <th>
          Typ av kort
        </th>
        <th>
          Pris
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          10-klipp
        </td>
        <td>
          895 kr
        </td>
      </tr>
      <tr>
        <td>
          10-klipp senior och FAR
        </td>
        <td>
          595 kr
        </td>
      </tr>
      <tr>
        <td>
          Enstaka träning
        </td>
        <td>
          120 kr
        </td>
      </tr>
    </tbody>
  </table>


  <br/><h3>Personlig träning och instruktion i gym</h3>

  <table class="table">
    <thead>
      <tr>
        <th>
          Typ av träning
        </th>
        <th>
          Pris
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          PT 1 tillfälle
        </td>
        <td>
          600 kr/tim
        </td>
      </tr>
      <tr>
        <td>
          PT 5 ggr
        </td>
        <td>
          2 750 kr
        </td>
      </tr>
      <tr>
        <td>
          PT 10 ggr
        </td>
        <td>
          5 000 kr
        </td>
      </tr>
      <tr>
        <td>
          PT i grupp 2-3 personer
        </td>
        <td>
          400 kr/tim/person
        </td>
      </tr>
      <tr>
        <td>
          PT i grupp 4-5 personer
        </td>
        <td>
          300 kr/tim/person
        </td>
      </tr>
      <tr>
        <td>
          Instruktion i gym
        </td>
        <td>
          175 kr/gång
        </td>
      </tr>
        </tbody>
  </table>


  <br/><h3>Massage</h3>

  <table class="table">
    <thead>
      <tr>
        <th>
          Behandlingstid/antal ggr
        </th>
        <th>
          Pris
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          25 min
        </td>
        <td>
          360 kr
        </td>
      </tr>
      <tr>
        <td>
          5 ggr x 25 min
        </td>
        <td>
          1 650 kr
        </td>
      </tr>
      <tr>
        <td>
          50 min
        </td>
        <td>
          595 kr
        </td>
      </tr>
      <tr>
        <td>
          5 ggr x 50 min
        </td>
        <td>
          2800 kr
        </td>
      </tr>
      </tbody>
  </table>

</div>
