<div class="main-area">
  <h1>Personlig tränare</h1>
  <p class="lead">En personlig tränare hjälper dig med din träning. Kanske vill du komma igång, hitta nya
    övningar, uppfylla dina mål eller bara få en bekräftelse på att du tränar rätt. På Bromma Träningscenter
    hittar du välutbildade personliga tränare. Vill du komma i kontakt med någon av våra tränare ringer du
    till vår reception 08-564 365 80. Det första mötet är alltid kostnadsfritt.</p>

  <h3 class="block-header"><img src="dist/img/eva.jpg" Alt="Eva Hallberg" align="right">Eva Hallberg</h3>
  <p>
    <h4>Utbildning:</h4><br/>
    Lillsveds gymnastik o idrottsfolkhögskola 1981-83<br/>
    Fritidspedagog,Högskola 1984-86<br/>
    Friskis o Svettis gympautbildning 1999<br/>
    Lic.styrketränings instruktör,Fitness education Bosön 2001<br/>
    Lic.personlig tränare,Fitness education Bosön 2002<br/>
    Lic.Kostrådgivare,S.A.F.E 2004<br/>
    Funktionell träning,S.A.F.E 2009<br/>
    Funktionell träning,Aerobic weekends 2009<br/>
    Pilates,YLAB 2009<br/>
    Yoga,Happy yoga 2012

    <h4>Bakgrund:</h4><br/>
    Redan som liten gymnast i Bollnäs, Hälsingland, har träning legat mig varmt om hjärtat. Som fritidspedagog
    med idrott/lek och sedan 2002 heltid som personlig tränare, grupptränare och kostrådgivare.

    <h4>Specialområden:</h4><br/>
    Jag inspirerar dig gärna till varierad träning.Tung eller lätt, med eller utan vikter. Konditionsträning inne
    eller ute. Lugnare träning såspm pilates och yoga. Jag jobbar också med viktnedgång och ger kostråd. Jag kan
    även komma hem till dig och träna.
  </p>

  <h3 class="block-header"><img src="dist/img/annika.jpg" Alt="Annika Uhlan" align="right">Annika Uhlan</h3>
  <p>
    <h4>Utbildning:</h4><br/>
    Licensierad Gruppträningsintruktör 1999, S.A.F.E<br/>
    Licensierad Personlig tränare 2009, The Academy<br/>
    Funktionell träning 2009, Aerobic weekends<br/>
    Styrketräningsinstruktör<br/>
    Ledarskapsutbildning för chefer 2006, Åhlèns

    <h4>Bakgrund:</h4><br/>
    Jag är en tjej full av energi från Sollentuna. Min idrottskarriär startade som gymnast, simmare och friidrottare.
    Vidare genom dansens värld landade jag som aerobicinstruktör på Bromma Träningscenter 1999. Jag har sedan dess haft
    fasta klasser i Aerobic, Skivstång, Bodytoning och Bosu. Jag har arbetat med människor i hela livet som gymnastikledare
    och danslärare i tidig ålder, senare som kallskänka, dekoratör och bitr. varuhuschef på Åhlèns. 2008 tog jag steget
    fullt ut och arbetar sedan dess med träning på heltid.

    <h4>Specialområden:</h4><br/>
    Min drivkraft som instruktör ligger i att förmedla träningsglädje. Jag jobbar även med grenspecifik träning för
    ungdomar i olika idrotter, företagsklasser och gruppträning med fokus på styrka och bålstabilitet.
  </p>

  <h3 class="block-header"><img src="dist/img/chand.jpg" Alt="Chand Smith" align="right">Chand Smith</h3>
  <p>
    <h4>Utbildning:</h4><br/>
    Licensierad Personlig tränare, DS Personal Training School<br/>
    Licensierad Kostrådgivare, DS Personal Training School<br/>
    Styrketräningsinstruktör

    <h4>Bakgrund:</h4><br/>
    Min idrottskarriär startade i tidig ålder som hockeymålvakt, där jag fortfarande är aktiv på Division 1-nivå och
    hunnit med att spela två år utomlands. Det har gett mig en bred erfarenhet av fysträning och funktionell träning.
    Styrketräning i gymmet började jag med vid 16 års ålder och har varit fast sedan dess.<br/><br/>

    Träning och hälsa har alltid varit mitt största intresse, och därför kändes det helt naturligt för mig att utbilda
    mig till personlig tränare och kostrådgivare

    <h4>Specialområden:</h4><br/>
    Jag hoppas kunna föra vidare min passion och glädje för träning till mina klienter. Jag skräddarsyr träningsscheman
    och kostplanering utifrån klientens mål och syfte, oavsett ålder eller nivå.
  </p>

</div>
