<div class="main-area">
  <h1>Schema</h1>
  <p class="lead">Detta schema är det som gäller för våren 2016.</p>
  <h2>Aerobicssalen</h2>
  <div class="table-responsive">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th></th>
          <th>Måndag</th>
          <th>Tisdag</th>
          <th>Onsdag</th>
          <th>Torsdag</th>
          <th>Fredag</th>
          <th>Lördag</th>
          <th>Söndag</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>09:00</td>
          <td></td>
          <td></td>
          <td class="warning">Spinning<br>45min</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>10:00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>

  <h2>Cykelsalen</h2>
  <div class="table-responsive">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th></th>
          <th>Måndag</th>
          <th>Tisdag</th>
          <th>Onsdag</th>
          <th>Torsdag</th>
          <th>Fredag</th>
          <th>Lördag</th>
          <th>Söndag</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>09:00</td>
          <td></td>
          <td></td>
          <td class="warning">Spinning<br>45min</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>10:00</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <p>
    Alla pass är 55min långa om inget annat anges. Vill du veta mer om de <a href="#traningspassen" title="Våra träningspass">olika träningspassen?</a>
  </p>
</div>
