<div class="main-area schema">
  <h1>Schema våren 2016</h1>
  <p class="lead">Vi erbjuder dig många olika träningsformer och klasser, både med hög och låg intensitet. Vill du veta mer om <a href="#forklaring" title="Våra träningspass">våra träningspass</a>?<!-- Klicka på ett pass i schemat för att läsa mer om just den träningsformen. --></p>
  <h3>Aerobicssalen</h3>
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th></th>
          <th>Måndag</th>
          <th>Tisdag</th>
          <th>Onsdag</th>
          <th>Torsdag</th>
          <th>Fredag</th>
          <th>Lördag</th>
          <th>Söndag</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>09:00</td>
          <td></td>
          <td></td>
          <td></td>
          <td class="warning">Lätt Cirkelträning<br/>45 min</td>
          <td></td>
          <td class="warning">Bodytoning (t.o.m. 23/4)</td>
          <td></td>
        </tr>
        <tr>
          <td>09:30</td>
          <td class="warning">Lätt/senior Gympa<br/>45 min</td>
          <td></td>
          <td class="warning">Lätt/senior Gympa<br/>45 min</td>
          <td></td>
          <td class="warning">Lätt/senior Gympa<br/>45 min</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>10:00</td>
          <td></td>
          <td></td>
          <td></td>
          <td class="warning">Pilates<br/>45 min</td>
          <td></td>
          <td class="warning">Bodytoning</td>
          <td></td>
        </tr>
        <tr>
          <td>10:30</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="warning">Lätt BOSU/Core<br/>45 min</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>11:00</td>
          <td></td>
          <td class="warning">Lätt/senior Aerobics<br/>45 min</td>
          <td class="warning">Bodytoning</td>
          <td class="warning">Lätt/senior Aerobics<br/>45 min</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>11:30</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="warning">Yoga<br/>75 min</td>
          <td></td>
        </tr>
        <tr>
          <td>12:00</td>
          <td class="warning">Lätt Cirkelträning<br/>45 min</td>
          <td class="warning">Pilates<br/>45 min</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>16:00</td>
          <td class="warning">Pilates (t.o.m. 21/3)</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="warning">Bodytoning</td>
        </tr>
        <tr>
          <td>16:30</td>
          <td></td>
          <td></td>
          <td></td>
          <td class="warning">Yoga</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>17:00</td>
          <td class="warning">Yoga</td>
          <td class="warning">BOSU/Core<br/>45 min</td>
          <td></td>
          <td></td>
          <td class="warning">Cirkelträning</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>17:30</td>
          <td></td>
          <td></td>
          <td></td>
          <td class="warning">Box & Fys</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>17:50</td>
          <td></td>
          <td></td>
          <td class="warning">Skivstång</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>18:00</td>
          <td class="warning">Bodytoning</td>
          <td class="warning">Cirkelträning</td>
          <td></td>
          <td class="warning">Cykel/Core</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>19:00</td>
          <td class="warning">Skivstång</td>
          <td class="warning">Bodytoning</td>
          <td class="warning">Cirkelträning</td>
          <td class="warning">Bodytoning</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>20:00</td>
          <td class="warning">Pilates Power</td>
          <td></td>
          <td class="warning">Yoga</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
    <p>
    Alla pass är 55 min långa om inget annat anges. Läs mer om <a href="#forklaring" title="Våra träningspass">våra träningspass</a>.
  </p>

  <h3>Cykelsalen</h3>
  <div class="table-responsive">

    <table class="table table-bordered">
      <thead>
        <tr>
          <th></th>
          <th>Måndag</th>
          <th>Tisdag</th>
          <th>Onsdag</th>
          <th>Torsdag</th>
          <th>Fredag</th>
          <th>Lördag</th>
          <th>Söndag</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>07:00</td>
          <td></td>
          <td></td>
          <td></td>
          <td class="warning">Cykel<br/>45 min</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>09:30</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="warning">Cykel Puls<br/>45 min</td>
          <td></td>
        </tr>
        <tr>
          <td>09:45</td>
          <td></td>
          <td></td>
          <td class="warning">Lätt cykling<br/>45 min</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
         <tr>
          <td>10:30</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td class="warning">Cykel<br/>45 min</td>
        </tr>
        <tr>
          <td>11:15</td>
          <td></td>
          <td class="warning">Cykel<br/>45 min</td>
          <td></td>
          <td class="warning">Cykel<br/>45 min</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>17:00</td>
          <td></td>
          <td></td>
          <td class="warning">Cykel<br/>45 min</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>17:30</td>
          <td></td>
          <td class="warning">Cykel Puls<br/>45 min</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>18:00</td>
          <td></td>
          <td></td>
          <td></td>
          <td class="warning">Cykel/Core</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>18:10</td>
          <td class="warning">Cykel<br/>45 min</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td>18:30</td>
          <td></td>
          <td></td>
          <td class="warning">Cykel Puls<br/>60 min</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <p>
    Läs mer om <a href="#forklaring" title="Våra träningspass">våra träningspass</a>.
  </p>
</div>
