<div class="main-area">
  <h1>Seniorträning</h1>
  <p class="lead">På Bromma Träningscenter har vi ett stort utbud av gruppträning för seniorer. </p>
  <p>
  Vi har även gym med konditions- och styrkemaskiner. Känner du dig osäker på hur du skall använda våra
  styrkemaskiner så kan du boka en genomgång med en instruktör. Genomgången tar ca 1 timme och du får sedan
  ett nedskrivet program med bilder och inställningar. <b>Kontakta receptionen för bokning av instruktion 08-564 365 80.</b>
  </p>
  <p>
    <img class="loggo" src="dist/img/seniortraning.jpg" Alt="Seniorträning">
  </p>
  <h3>Gruppträning för seniorer</h3>
  <table class="table">
    <thead>
      <tr>
        <th>
          Pass
        </th>
        <th>
          Dag och tid
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          Lättgympa senior
        </td>
        <td>
          Måndag, onsdag, fredag 09:30-10:15
        </td>
      </tr>
      <tr>
        <td>
          Lätt Aerobic senior
        </td>
        <td>
          Tisdag, torsdag 11:00-11:45
        </td>
      </tr>
      <tr>
        <td>
          Lätt Cirkelträning
        </td>
        <td>
          Måndag 12:00-12:45, torsdag 09:00-09:45
        </td>
      </tr>
      <tr>
        <td>
          Lätt cykel
        </td>
        <td>
          Onsdag 09:45-10:30
        </td>
      </tr>
      <tr>
        <td>
          Lätt BOSU/Core
        </td>
        <td>
          Fredag 10:30-11:15
        </td>
      </tr>
      <tr>
        <td>
          Pilates
        </td>
        <td>
          Tisdag 12:00-12:45, torsdag 10:00-10:45
        </td>
      </tr>
    </tbody>
  </table>
  <h3>Bokning av pass</h3>
  <p>
  För att vara säker på att du har en plats när du kommer så är det bra att förboka din plats.<br/>
  Du kan boka tidigast 1 vecka innan passet. Du kan boka på följande sätt:
  <ul type="disc">
  <li>Ringa in och boka på 08-564 365 80
  <li>Boka direkt i receptionen
  <li>Boka via hemsidan: www.brommatraningscenter.se
  <li>Boka via app, se info på vår hemsida
  </ul>
  <p>
  Har du bokat en plats och inte kan komma så behöver du boka av. Boka av så snart du vet att du inte
  ska nyttja din plats så att andra har möjlighet att få vara med.
  </p>
</div>
