<div class="main-area">
  <h1>Trainingcamp</h1>
  <p class="lead">
  Hitta din form med rolig, utmanande utomhusträning tillsammans med vår coach Oliver Danald.</p>

    <p><ul type="disc">
        <li>Måndag och onsdag kl 07.00-08.00
        <li>6 veckors träning
        <li>Träning utomhus (vid väldigt dåligt väder inomhus)
        <li>Tröja och vattenflaska ingår
      </ul>

    <br/><h3>Pris och anmälan</h3>
    <p>Pris: 2 995 kr. </br>

    <b>Anmäl dig senast 18 februari</b> genom att maila <a href="mailto:mirja@brommatraningscenter.se<">mirja@brommatraningscenter.se<</a></p>

</div>
