<div class="main-area">
  <h1>Viktminskning, 6-veckorskurs</h1>
  <p class="lead">
  På Bromma Träningscenter har vi viktminskningskurser. Kurserna är upplagda på
  6 veckor och innehåller både träning, kostgenomgångar och tester.</p>

  <p>Vårt upplägg syftar till att du ska hitta ett sätt att äta och träna bra i vardagen.
    Vi har duktiga personliga tränare med kostutbildning som kommer att hjäpa dig att nå dina mål.</p>

    <p>Kursinnehåll:<br/>
      <ul type="disc">
        <li>Kursen startar och avslutas med konditionstest
        <li>En uppstartsträff med din personliga tränare (upplägg, kost, mätning m.m.)
        <li>Träning 2 dagar i veckan med personlig tränare
        <li>Kostgenomgång varje vecka i samband med träning
        <li>Gratis träningskort i 2 månader så att du kan träna på egen hand efter avslutad kurs
        <li>Mätningar varje vecka för att kunna följa dina resultat
        <li>Ett avslutande möte med din personliga tränare
      </ul>

    <h3>Pris</h3>
    <p>Du betalar för dom 14 ggr som du träffar din personliga tränare. 14 ggr x 695 kr</p>

</div>
