<div class="main-area">
  <h1>Yoga</h1>
  <p>
    <img class="loggo" src="dist/img/yoga.jpg" Alt="Yoga">
  </p>
  <p>
  På Bromma Träningscenter utövar vi en fysisk dynamisk yoga. Det innebär att vi arbetar med kroppsövningar
  (asanas) och andning (pranayama). Under klassen får du olika alternativ på övningar så att du kan välja det
  som passar för dig. Yoga ska ta tid – det viktiga är att du hela tiden känner efter vad du klarar av just
  för dagen. Yogaklassen ska vara en känsla av lugn och harmoni där andningen ligger i fokus även om vi arbetar
  med kroppsövningar.
  </p>
  <p>
  Våra yogalärare lägger stor vikt vid yogans filosofi, vilket innebär att dom mentala delarna och andningen
  står i fokus även om den fysisk dynamiska yogan innehåller kroppsövningar från hathayogans rörelsestruktur.
  </p>
  <p>
  Vi har öppna klasser och du kan när som helst kan vara med på någon av våra yogaklasser på
  <a href="#schema" title="Schema">schemat</a>.
  </p>


  <h1>Pilates</h1>
  <p>
    <img class="loggo" src="dist/img/pilates.jpg" Alt="Pilates">
  </p>
  <p>
  Pilatesträning har fokus på bålträning och rörlighetsträning men även träning för ben och säte ingår. All
  form av pilates syftar på att få en medveten hållning och vältränad bål. Josef Pilates som grundade träningsformen
  menade att ”hälsan kommer från bålen”, dvs om du har en stark bål och en bra hållning så mår kroppen rätt så bra.
  </p>
  <p>
  På Bromma Träningscenter arbetar vi med pilatesmatta. Det innebär att vi till största delen sitter eller ligger
  ner och arbetar med bål, ben, säte samt rörlighet. Instruktörerna ger olika alternativ på övningarna så att du själv
  väljer det som passar dig. Vissa övningar kan vara kraftfulla men det finns alltid ett lättare alternativ om man önskar.
  Till vissa övningar använder vi pilatesringen både som ett styrkeredskap men även som en hjälp i rörlighetsövningar.
  </p>
  <p>
  Fler och fler upptäcker pilates och dess fördelar. Grupperna brukar därför vara väldigt blandade, både kunskapsmässigt
  och åldersmässigt, på våra pilatesklasser.
  </p>
</div>
