<div class="main-area">
  <h1>Yoga</h1>
  <p>
  Yoga är en känsla, känslan av lugn och harmoni i sin kropp men även i sin tillvaro. Att utöva yoga är att långsiktigt arbeta med sin kropp och själ på en nivå som du själv som individ bestämmer helt och hållet. Yoga kan därför i vardagen vara en skön promenad, plantera blommor eller på något annat sätt känna att man är i harmoni med sig själv och sin tillvaro. I yogasalen tränar vi på att hitta känslan så att du även kan sprida lugnet runt omkring dig.
</p>
<p>
Det finns många olika yogaformer. På Bromma Träningscenter arbetar vi med en fysisk dynamisk yoga. Den härstammar från en gammal klassisk yoga vid namn viniyoga. Andra förgreningar från viniyogan är Ashstangayoga och Iyengaryoga. Den fysisk dynamiska yogan är mycket individanpassad och låter dig utvecklas i din egen takt. Du behöver inte heller känna press på att du ska göra övningar som inte känns bra för dig. Yogaläraren ger dig här olika övningsalternativ och du väljer själv vad som känns bäst. Tillsammans med dom olika fysiska övningarna arbetar vi med den s.k. Ujjayandningen. Andningen hjälper dig att hålla fokus och koncentration. Andningen tar lite tid att lära sig men i yogan har vi inte bråttom.
</p>
<p>
Yoga betyder förening/union. I Yogan arbetar man med hela kroppen d.v.s. inte bara det fysiska utan även med våra mentala sidor. Yoga kräver tålamod. Vissa saker går lite snabbare och andra saker tar lång tid att lära sig. Hur du utvecklas med Yogan kan ingen annan än du själv svara på.
</p>
<p>
Bromma Träningscenter har välutbildade yogalärare. Våra lärare lägger stor vikt vid yogans filosofi, vilket innebär att dom mentala delarna och andningen står i fokus även om den fysisk dynamiska yogan innehåller kraftfulla fysiska övningar från hathayogans rörelsestruktur. Vi har öppna klasser d.v.s. du kan när som helst under terminen vara med på en yogaklass.
</p>
<p>
Välkommen till våra yogaklasser!
</p> 
</div>
