<div class="aside">
  <div class="aside-article">
    <h3>Schema</h3>
    <ul>
      <li><a href="#schema" title="Schema för arobicssalen">Aerobicssalen</a></li>
      <li><a href="#schema" title="Schema för cykelsalen">Cykelsalen</a></li>
      <li><a href="#forklaring" title="Förklaring av passen">Förklaring av passen</a></li>
      <li><a href="/dist/files/schema.pdf" title="Ladda ner schemat som pdf">Ladda ner schemat som pdf</a></li>
    </ul>
  </div>
  <div class="aside-article">
    <h3>Öppettider</h3>
    <ul>
      <li>Måndag, onsdag 08:00-21:30</li>
      <li>Tisdag, torsdag 06:45-21:30</li>
      <li>Fredag 08:00-19:30</li>
      <li>Lördag 08:30-16:00</li>
      <li>Söndag 09:00-19:00</li>
    </ul>
  </div>
  <div class="aside-article">
    <h3>Boka pass</h3>
    <p>
      Boka genom att <a href="http://kund.pastell16.pastelldata.se/UnitRedirect.aspx?UNIT=1500" target="_blank" title="Boka online"> klicka här</a>.
    </p>
    <p>
      Logga in direkt med din <b>e-post och ditt kortnummer</b> eller välj "boka" på önskat pass och logga sen in.
    </p>
    <p>
      För att registrera din e-post, ring eller maila oss på <a href="mailto:info@brommatraningscenter.se?subject=Registrera för bokning" title="maila för att regisrera dig">info@brommatraningscenter.se</a>
    </p>
    <hr size="2" color="#000000" width="320">
    <p>Du kan även använda "Bokningsappen", från Pastelldata.</p>

    <p>Appen är gratis och finns till iPhone och Android. Lägg vid första användandet in <b>anläggningsnr: 1500.</b></p>

    <p>
    <a class="download download-iphone" href="https://itunes.apple.com/se/app/bokningsappen/id481615621?mt=8" title="Bokningsappen iPhone" target="_blank"></a>
    <a class="download download-android" href="https://play.google.com/store/apps/details?id=com.pastelldata.bokningsappen&hl=sv" title="Bokningsappen Android" target="_blank"></a>
    </p>
  </div>
  <!-- <div class="aside-article">
    <h3>Boka pass direkt i mobilen</h3>
    <p>Boka eller boka av pass via vår app "Bokningsappen", från Pastelldata.</p>

    <p>Appen är gratis och finns till iPhone och Android. Första gången du går in så lägger du in <b>anläggningsnr: 1500.</b></p>

    <ul>
      <li>
        <a class="download download-iphone" href="https://itunes.apple.com/se/app/bokningsappen/id481615621?mt=8" title="Bokningsappen iPhone" target="_blank"></a>
      </li>
      <li>
        <a class="download download-android" href="https://play.google.com/store/apps/details?id=com.pastelldata.bokningsappen&hl=sv" title="Bokningsappen android" target="_blank"></a>
      </li>
    </ul>
  </div> -->
</div>
