<footer class="footer-container">
  <div class="footer-container-row">
    <div class="footer-item">
      <h4>Kontakt</h4>
      <ul>
        <li>Bromma Träningscenter</li>
        <li>Besöksadress: Brommaplan 403</li>
        <li>Reception/bokning: 08-564 365 80</li>
        <li>E-post: <a href="mailto:info@brommatraningscenter.se">info@brommatraningscenter.se</a></li>
      </ul>
    </div>
    <div class="footer-item">
      <h4>Schema och bokning av pass</h4>
      <ul>
        <li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> <a href="#schema">Schema</a></li>
        <li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> <a href="http://kund.pastell16.pastelldata.se/UnitRedirect.aspx?UNIT=1500" target="_blank">Boka online</a></li>
        <li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> <a href="https://itunes.apple.com/se/app/bokningsappen/id481615621?mt=8" title="Bokningsappen iPhone" target="_blank">Ladda ner bokningsapp för iPhone</a></li>
        <li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> <a href="https://play.google.com/store/apps/details?id=com.pastelldata.bokningsappen&hl=sv" title="Bokningsappen Android" target="_blank">Ladda ner bokningsapp för Android</a></li>
        <li>Boka på telefon 08-564 365 80</li>
      </ul>
    </div>
    <div class="footer-item">
      <h4>Öppettider</h4>
      <ul>
        <li>Måndag, onsdag 08:00-21:30</li>
        <li>Tisdag, torsdag 06:45-21:30</li>
        <li>Fredag 08:00-19:30</li>
        <li>Lördag 08:30-16:00</li>
        <li>Söndag 09:00-19:00</li>
      </ul>
    </div>
  </div>
</footer>

       <!-- <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> -->
