<footer class="footer-container">
  <div class="footer-container-row">
    <div class="footer-item">
      <h4>Kontakt</h4>
      <ul>
        <li>Bromma Träningscenter</li>
        <li>Besöksadress: Brommaplan 403</li>
        <li>Reception/bokning: 08-564 365 80</li>
        <li>E-post: <a href="mailto:info@brommatraningscenter.se">info@brommatraningscenter.se</a></li>
      </ul>
    </div>
    <div class="footer-item">
      <h4>Boka pass</h4>
      <ul>
        <li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> <a href="#">Boka online</a></li>
        <li><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> <a href="#">Boka via app</a></li>
        <li>Boka på telefon 08-564 365 80</li>
      </ul>
    </div>
    <div class="footer-item">
      <h4>Öppettider</h4>
      <ul>
        <li>Måndag, onsdag 08:00-21:30</li>
        <li>Tisdag, torsdag 06:45-21:30</li>
        <li>Fredag 08:00-19:30</li>
        <li>Lördag 08:30-16:00</li>
        <li>Söndag 09:00-19:00</li>
      </ul>
    </div>
  </div>
</footer>

       <!-- <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> -->