<div class="container">
  <a href="/" alt="Hem" title="Hem">
    <img class="loggo" src="dist/img/header.png" alt="Hem"/>
  </a>
</div>
<div class="container" ng-controller="CollapseMenuCtrl">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" ng-click="isCollapsed = !isCollapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="navbar-collapse" uib-collapse="isCollapsed">
        <ul class="nav navbar-nav">
          <li>
            <a href="/">Hem</a>
          </li>
          <li class="dropdown" uib-dropdown dropdown-current>
            <button id="btn-current" uib-dropdown-toggle>
                Schema<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="btn-current">
              <!-- <li><a href="#julschema">Julschema</a></li> -->
              <li><a href="#schema">Schema</a></li>
              <li><a href="#oppettider">Öppettider</a></li>
              <li><a href="#boka-pass">Boka pass</a></li>
            </ul>
          </li>
          <li class="dropdown" uib-dropdown dropdown-workout>
            <button id="btn-workout" uib-dropdown-toggle>
            Träningspass<span class="caret"></span>
          </button>

            <ul class="dropdown-menu" role="menu" aria-labelledby="btn-workout">
              <li><a href="#forklaring">Våra träningspass</a></li>
              <li><a href="#yoga">Yoga & Pilates</a></li>
              <li><a href="#bosu-core">Bosu/Core</a></li>
              <li><a href="#senior">Seniorträning</a></li>
            </ul>
          </li>
          <li class="dropdown" uib-dropdown dropdown-pt>
            <button id="btn-pt" uib-dropdown-toggle>
              Personlig träning<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="btn-pt">
              <li><a href="#gyminstruktion">Instruktion i gymmet</a></li>
              <li><a href="#personlig-traning">Personlig tränare</a></li>
            </ul>
          </li>
          <li class="dropdown" uib-dropdown dropdown-treatment>
            <button id="btn-treatment" uib-dropdown-toggle>
              Behandlingar & kurser<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="btn-treatment">
              <li><a href="#behandlingar">Kiropraktik</a></li>
              <li><a href="#behandlingar">Massage</a></li>
              <li><a href="#viktminskning">Viktminskning</a></li>
              <li><a href="#trainingcamp">BTC Training Camp</a></li>
            </ul>
          </li>
          <li>
            <a href="#priser">Priser</a>
          </li>
          <li class="dropdown" uib-dropdown dropdown-about>
            <button id="btn-about" uib-dropdown-toggle>
              Kontakt<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="btn-about">
              <li><a href="#foretag">Klubbar/företag</a></li>
              <li><a href="#omoss">Om oss</a></li>
              <li><a href="#hittahit">Hitta hit</a></li>
            </ul>
          </li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</div>
